<section data-controller="layout">
  <header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="min-w-0 flex flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">ERB to Phlex Converter</h2>

          <div class="flex flex-1 justify-between sm:justify-end">
            <div class="ml-6 flex items-center">
              <button type="button" data-action="click->converter#convert" class="ml-3 items-center rounded-md border border-transparent bg-[#C81657] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#c6153f] focus:outline-none focus:ring-2 focus:ring-[#C81657] focus:ring-offset-2"><i class="fas fa-play-circle"></i>  Convert</button>

              <div class="mx-6 hidden h-5 w-px bg-slate-900/10 sm:block"></div>

              <button data-action="click->layout#switch" data-value="horizontal" class="disabled:bg-gray-200 relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"><i class="fas fa-grip"></i></button>
              <button data-action="click->layout#switch" data-value="vertical" class="disabled:bg-gray-200 relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"><i class="fas fa-grip-vertical"></i></button>
            </div>
          </div>
      </div>
    </div>
  </header>

  <main data-controller="converter">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div id="layout" class="grid grid-cols-2 gap-2">
        <form data-converter-target="form" action="<%= converters_path %>" data-turbo-stream method="post" data-action="submit->converter#convert change->converter#convert">
          <div class="mt-6">
            <div class="flex items-center">
              <div class="text-gray-900 rounded-md px-3 py-1.5 text-sm font-medium" aria-controls="tabs-1-panel-1">ERB</div>
            </div>
            <div class="mt-2">
              <div id="tabs-1-panel-1" class="-m-0.5 rounded-lg p-0.5" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
                <div>
                  <textarea data-converter-target="input" data-action="change->converter#convert keyup->converter#convert" rows="40" name="input" id="input" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Paste ERB here"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="mt-6" data-converter-target="output">
          <div class="grid grid-cols-[1fr,auto] items-center">
            <div class="text-gray-900 rounded-md px-3 py-1.5 text-sm font-medium" aria-controls="tabs-1-panel-1">Phlex</div>
            <button data-action="click->converter#copy" class="text-gray-900 bg-gray-100 hover:bg-gray-200 active:bg-gray-300 rounded-md ml-12 px-3 py-1.5 text-sm font-medium">
              <i class="fas fa-copy"></i>
              <i class="fas fa-circle-check text-green-600 hidden ease-in duration-300"></i>
            </button>
          </div>

          <div class="mt-2">
            <div id="tabs-1-panel-1" class="-m-0.5 rounded-lg p-0.5" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
              <textarea readonly id="output" rows="40" cols="120" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
