<section data-controller="layout converter">

  <form data-converter-target="form" action="<%= converters_path %>" data-turbo-stream method="post" data-action="submit->converter#convert change->converter#convert">
    <header>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="m-2 min-w-0 flex flex-1 justify-between">
          <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><span class="block sm:hidden">ERB to Phlex</span><span class="hidden sm:block">ERB to Phlex Converter</span></h2>

          <div class="sm:flex sm:flex-1 sm:justify-end">
            <div class="ml-6 sm:flex sm:items-center">
              <button type="button" data-action="click->converter#submit" class="inline-flex items-center rounded-md border border-transparent bg-[#C81657] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#c6153f] focus:outline-none focus:ring-2 focus:ring-[#C81657] focus:ring-offset-2"><i class="fas fa-play-circle mr-2"></i>  Convert</button>

              <div class="mx-6 h-5 w-px sm:bg-slate-900/10 sm:block"></div>

              <button data-action="click->layout#switch" data-value="horizontal" class="hidden disabled:bg-gray-200 relative sm:inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"><i class="fas fa-grip"></i></button>
              <button data-action="click->layout#switch" data-value="vertical" class="hidden disabled:bg-gray-200 relative ml-3 sm:inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"><i class="fas fa-grip-vertical"></i></button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 mt-6">
        <div class="mt-4 m-2">
          <div class="relative flex items-start mb-3">
            <div class="flex h-5 items-center">
              <input checked id="whitespace" name="whitespace" type="checkbox" data-action="converter#submit" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
            </div>
            <div class="ml-3 text-sm">
              <label for="whitespace" class="font-medium text-gray-700">Whitespace</label>
              <p class="text-gray-500">Generate whitespace in and around HTML block elements</p>
            </div>
          </div>

          <div data-controller="phlex-class">
            <div class="relative flex items-start mb-3">
              <div class="flex h-5 items-center">
                <input checked id="template_name" name="template_name" type="checkbox" data-action="click->converter#submit" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
              </div>
              <div class="ml-3 text-sm">
                <label for="template_name" class="font-medium text-gray-700">Phlex View Template Name</label>
                <p class="text-gray-500">Phlex 2.0 is going to change the view template name from <code class="bg-gray-100 py-0.5 px-1 rounded">template</code> to <code class="bg-gray-100 py-0.5 px-1 rounded">view_template</code>. Check this box to use the 2.0 syntax.</p>
              </div>
            </div>

            <div class="relative flex items-start mb-3">
              <div class="flex h-5 items-center">
                <input checked id="component" name="component" type="checkbox" data-action="click->converter#submit click->phlex-class#toggle" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
              </div>
              <div class="ml-3 text-sm">
                <label for="component" class="font-medium text-gray-700">Generate Phlex class</label>
                <p class="text-gray-500">Generate a Phlex class with a <code class="bg-gray-100 py-0.5 px-1 rounded">view_template</code> method around your input</p>
              </div>
            </div>

            <div class="" data-phlex-class-target="toggle">
              <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-2 mt-6">
                <div class="ml-6">
                  <label for="component_name" class="block text-sm font-medium text-gray-700">Component Name</label>
                  <div class="mt-1">
                    <input placeholder="Component" autocomplete="off" id="component_name" name="component_name" data-action="keyup->converter#submit" type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>

                <div class="ml-6">
                  <label for="email" class="block text-sm font-medium text-gray-700">Parent Component</label>
                  <div class="mt-1">
                    <input placeholder="Phlex::HTML" autocomplete="off" id="parent_component" name="parent_component" data-action="keyup->converter#submit" type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="mx-auto sm:px-6 lg:px-8">
        <div id="layout" class="mx-2 sm:grid sm:grid-cols-2 gap-2">
          <div class="mt-6">
            <div class="flex items-center">
              <div class="text-gray-900 rounded-md px-3 py-1.5 text-sm font-medium" aria-controls="tabs-1-panel-1">ERB</div>
            </div>
            <div class="mt-2">
              <div class="-m-0.5 rounded-lg p-0.5" role="tabpanel" tabindex="0">
                <div>
                  <textarea data-converter-target="input" data-action="debounced:change->converter#convert debounced:keyup->converter#convert" name="input" id="input" class="font-mono block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Paste ERB here" style="height: 70vh"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-6" data-converter-target="output">
            <div class="grid grid-cols-[1fr_auto] items-center">
              <div class="text-gray-900 rounded-md px-3 py-1.5 text-sm font-medium" aria-controls="tabs-1-panel-1">Phlex</div>
              <button data-action="click->converter#copy" class="text-gray-900 bg-gray-100 hover:bg-gray-200 active:bg-gray-300 rounded-md ml-12 px-3 py-1.5 text-sm font-medium">
                <i class="fas fa-copy"></i>
                <i class="fas fa-circle-check text-green-600 hidden ease-in duration-300"></i>
              </button>
            </div>

            <div class="mt-2">
              <div class="-m-0.5 rounded-lg p-0.5" role="tabpanel" tabindex="0">
                <div class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                  <pre class="phlex-output p-3 mb-3 rounded overflow-auto font-mono bg-[#282c34] text-[#dcdfe4] highlight h-[70vh] overflow-scroll" id="output"></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </form>
</section>

<style type="text/css">
  <%= Rouge::Themes::Monokai.render(scope: 'pre') %>
</style>
